<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--
    The company key must be specified in the companyKey appSetting, replacing all the text "## COMPANY KEY HERE ##".
    This key is assigned to you when you sign up to evaluate Qixol Promo.
    The key can be found by following the Configuration / Company Management menu entries in the Promo Administration Portal at
    https://admin.qixolpromo.com/
    -->
    <add key="companyKey" value="## COMPANY KEY HERE ##" />
    <!--  -->

    <!--
    The coupon import key must be specified in the couponImportKey appSetting, replacing all the text "## COUPON IMPORT KEY HERE ##".
    The key can be found by following the Configuration / Campaign/Coupon Management menu entries, then editing the source-code coupon to import codes for.
    The Promo Administration Portal is at https://admin.qixolpromo.com/
    -->
    <add key="couponImportKey" value="## COUPON IMPORT KEY HERE ##" />
  <!--  -->
  </appSettings>
</configuration>